.container{
    /* max-width: 400px; */
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 15px 2px rgb(188, 41, 194);
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px) repeat(5, 100px);
    justify-content: center;
    align-content: center;
}
.spanThisThing {
    grid-column: span 2;
}
.displayPanel {
    grid-column: 1 / -1;
}
#small-display{
    text-align: right;
    height: 5px;
    line-height: 20px;
    padding-right: 20px;
    font-size: 10px;
}
#display{
    text-align: right;
    height: 60px;
    line-height: 70px;
    padding-right: 20px;
    font-size: 25px;
}
button{
    border: 0.5px solid rgb(202, 35, 194);
    line-height: 75px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(216, 157, 207);
    color: white;
    /* transition: 0.5s ease-in-out; */
}
